body {
    font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Lucida Console", monospace;
    padding: 0;
    margin: 0;
  }
  .header {
      font-size: 120%;
      background-color: #7280ff;
      display: flow-root;
  }
  .accueil-div, .rechercher-div {
      float: left;
      margin-left: 5%;
      margin-top: 0.5%;
      margin-bottom: 0.6%;
  }
.mes_quizz-div {
    float: left;
    margin-left: 5%;
    margin-top: 0.5%;
    margin-bottom: 0.6%;
}
.mes_quizz-a, .profil-a, .deconnexion-a,.connexion-a, .inscription-a, .accueil-a, .rechercher-a{
    color: white;
    text-decoration:none;
}
.mes_quizz-a:hover, .profil-a:hover, .deconnexion-a:hover,.accueil-a:hover, .rechercher-a:hover,.connexion-a:hover, .inscription-a:hover {
    text-decoration:underline;
}
.connexion-div, .inscription-div, .profil-div, .deconnexion-div  {
    float: right;
    margin-right: 5%;
    margin-top: 0.5%;
    margin-bottom: 0.6%;
}